python-dotenv
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
requests
torch
torchvision
timm
scikit-learn
matplotlib
seaborn
kaggle
tqdm
grad-cam
Pillow
google-generativeai
